* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  background-color: rgb(0, 103, 20)
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  color: grey;
  border: 1px solid grey;
  border-radius: 4px;
  outline: none;
}

#hit, #stay {
  display: inline-block
}


button:hover {
  background-color: grey;
  color: white;
}

h1 {
  padding-block: 20px;
  background-color: red;
  font-size: 100 px;
  color: white;
}

#dealer-container, #player-container {
  margin: 25px 25px 25px 25px;
  border: solid white;
}

#button-container {
  margin: 30px;
}

